@model List<YHW.Models.Content.ITopicContent>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<div class="row">
  <h2 class="text-center">Join the Movement!</h2>
  <p>
    You Heard Wrong (YHW) is a not-for-profit that raises awareness about the 
    truths in education with the direct comparison of facts and opinions through
     multi-media crowd-sourced journalism.
  </p>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count; ++i)
        {
          // Declare as active
          if (i == 0)
          {
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          } else {
            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
          }
        }
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; ++i)
        {
          if (i == 0)
          {
            <div class="item active">
              <img src="@Url.Content(Model[i].ImageURL)" alt="http://placehold.it/350x200" class="carouselImage">
              <div class="carousel-caption">
                @Html.Raw(Json.Encode(Model[i].SubText))
              </div>
            </div>
          } else {
            <div class="item">
              <img src="@Url.Content(Model[i].ImageURL)" alt="http://placehold.it/350x200" class="carouselImage">
              <div class="carousel-caption">
                @Html.Raw(Json.Encode(Model[i].SubText))
              </div>
            </div>
          }
        }
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273612212799967";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="col-xs-6">
  <h3>Join us on Facebook!</h3>
  @*This is the facebbok like button*@
  <div class="fb-follow" data-href="https://www.facebook.com/youheardwrong" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
</div>

<div class="col-xs-6">
  <h3>Join us on Twitter!</h3>
  <a href="https://twitter.com/youheardwrong" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @@YouHeardWrong</a>
</div>
