@model List<YHW.Models.Content.ITopicContent>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHiddenTwitter.cshtml";
}

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="font-size:larger">
    <h2 class="text-center">Join the Movement!</h2>
    <p style="text-align:center">
      You Heard Wrong (YHW) is a not-for-profit that raises awareness about the
      truths in education with the direct comparison of facts and opinions through
      multi-media crowd-sourced journalism.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="bottom:20px;">
        @for (int i = 0; i < Model.Count; ++i)
        {
          // Declare as active
          if (i == 0)
          {
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          }
          else
          {
            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
          }
        }
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; ++i)
        {
          String imageBase64 = Convert.ToBase64String(Model[i].ImageURL);
          String imageSrc = String.Format("data:image/jpg;base64,{0}", imageBase64);
          if (i == 0)
          {
            <div class="item active">
              <a href="@Url.Action("Item", Model[i].TypeName, new { id = Model[i].ID })">
                <img style="max-height:450px; max-width: 900px;" src="@imageSrc" alt="http://placehold.it/350x200" class="carouselImage">
              </a>
              <div class="container">
                <div class="carousel-caption">
                  <p>@Html.Encode(Model[i].SubText)</p>
                </div>
              </div>
            </div>
          }
          else
          {
            <div class="item">
              <a href="@Url.Action("Item", Model[i].TypeName, new { id = Model[i].ID })">
                <img style="max-height:450px; max-width: 900px;" src="@imageSrc" alt="http://placehold.it/350x200" class="carouselImage">
              </a>
              <div class="container">
                <div class="carousel-caption">
                  <p>@Html.Encode(Model[i].SubText)</p>
                </div>
              </div>
            </div>
          }
        }
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273612212799967";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
  <div class="col-sm-offset-1 col-sm-5 col-xs-6">
    <h3>Join us on Facebook!</h3>
    @*This is the facebbok like button*@
    <div class="fb-follow" data-href="https://www.facebook.com/youheardwrong" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
  </div>

  <div class="col-sm-5 col-xs-6" style="text-align:right;">
    <h3>Join us on Twitter!</h3>
    <a href="https://twitter.com/youheardwrong" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @@YouHeardWrong</a>
  </div>
</div>

@*
<div class="row">
  <div class="col-md-8 col-sm-10">
    <a style="color:black;" href="https://www.surveymonkey.com/s/8NQDHX7">
      <h1 >TAKE OUR SURVEY!</h1>
      <p>We put a little survey together to see how you guys feel about the common core! Click Here to take it now!</p>
    </a>
  </div>
</div>
*@