@model YHW.Models.Content.Quote
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

@if (!Model.IsApproved)
{
  <div class="alert alert-warning">
    This content is <strong>still awaiting approval</strong>, and will not be visable to anyone but the Author,
    and Editors of this site.
  </div>
}

<h2 class="text-center">@Model.Title </h2>
<h3><small>@Model.CreatedDate.Date.ToString("D")</small></h3>

@if (!String.IsNullOrEmpty(Model.SubText))
{
  foreach (var item in Model.SubText.Split('\n'))
  {
    <p>@item</p>
  }
}

<hr />
<h4>Posted By</h4>
@Html.Action("ContentAuthorView", "Home", new { author = Model.Author })

<div id="MessageForm">
  @Html.Action("CommentPartial", "Comment", new { id = "Quote:" + Model.ID })
</div>