@model YHW.Models.Content.Blog
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<h2 class="text-center">@Model.Title </h2>
<h3><small>@Model.CreatedDate.Date.ToString("D")</small></h3>

@foreach (var item in Model.BlogText.Split('\n'))
{
<p>@item</p>
}

<hr />
<h4>Posted By</h4>
@Html.Action("ContentAuthorView", "Home", new { author = Model.Author })

<div id="MessageForm">
  @Html.Action("CommentPartial", "Comment", new { id = "Blog:" + Model.ID })
</div>