@model YHW.Models.Content.Blog
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<h2 class="text-center">@Model.Title </h2>
<h3><small>@Model.CreatedDate.Date.ToString("D")</small></h3>

@if (Model.ImageURL != null)
{
  String imageBase64 = Convert.ToBase64String(Model.ImageURL);
  String imageSrc = String.Format("data:image/jpg;base64,{0}", imageBase64);
  <img src="@imageSrc" style="max-height:650px;" />
}

@foreach (var item in Model.BlogText.Split('\n'))
{
<p>@item</p>
}

<div class="col-md-3">
  @{
    var s = "http://youheardwrong.org" + Url.Action("Item", "Blog", new { id = Model.ID });
  }
  <div class="fb-like" data-href="@s" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  <a href="https://twitter.com/share" data-text="@Model.Title" class="twitter-share-button" data-url="@s" data-via="youheardwrong" data-lang="en">Tweet</a>
</div>



<hr />
<h4>Posted By</h4>
@Html.Action("ContentAuthorView", "Home", new { author = Model.Author })

<div id="MessageForm">
  @Html.Action("CommentPartial", "Comment", new { id = "Blog:" + Model.ID })
</div>